<div nz-row>
  <div nz-col nzSpan="10"></div>
  <div nz-col nzSpan="6">
    <app-form-customer (customerName)="addCustomer($event)"></app-form-customer>
    <div></div>
    <div

    nz-popconfirm
    nzPopconfirmTitle="Are you sure delete this customer?"
    nzPopconfirmPlacement="bottom"
    (nzOnConfirm)="deleteCustomer()"
    (nzOnCancel)="cancel()"
    (nzPopconfirmVisibleChange)	= "showConfirm($event)"
    nzPopconfirmPlacement="rightTop"
    [nzPopconfirmVisible]="showPopconfirm"
    
  ></div>
    <app-list
      [footerContent]="footerContent"
      [customers]="customers"
      [entity]="'Customer'"
      (customerToEdit)="onEdit($event)"
      (customerToDelete)="onDelete($event)"
    ></app-list>
    <app-modal [isVisible]="isVisible">
      <div modal-body>
        <app-form-customer
          [customerEdit]="customer"
          [flag]="isVisible"
          (customerEdited)="editCustomer($event)"
        ></app-form-customer>
      </div>
    </app-modal>
   
  </div>
  <div nz-col nzSpan="10" nzOffset="8"></div>
</div>
